.jumbotron {
    margin: 0px auto;
    padding: 70px 30px 70px 30px;
    background: lightseagreen;
    color: floralwhite; }



.row-header {
    margin: 0px auto;
    padding: 0px 0px; }

.videoo{
    align-content: center;
    background: white;
    color: black;
}

.card{
    margin-top: auto;
    color: blue;
}

.navbar-dark {
    background-color: darkblue;

}



body {
    padding: 50px 0px 0px 0px;
    z-index: 0; 
}


.footer{
    background-color: yellowgreen;
    margin: 0px auto;
    padding: 20px 0px;
}
